body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 35px;
}

.top-bottom-flexible{
    display: flex;
    margin-bottom: 150px;
}

.span-color{
    color: orange;
}
.span-color-second{
    color: lightslategray;
}

.top-box{
    width: 50%;
    padding-left: 120px;
}

.top-box-image{
 width: 50%;
}
.image-design{
    width: 50%;
    padding-left: 130px;
}

.order-anchor{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    background-image: linear-gradient(orange , tomato);
    color: white;
}

.contact-anchor{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 700;
    background-image: linear-gradient(orange , tomato);
    color: white;

}
 .middle-section{
     background-image: url(images/shapes/new.png);
     background-repeat: no-repeat;
 }


 .recipies-heading{
     text-align: center;
 }
 .bottom-box{
    display: flex;
    margin-bottom: 150px;
}
 
 .Jimmy-Dean-photo{
    width: 56%;
    padding-left: 80px;
    border-radius: 20px;

}
.beef-photo{
   width: 63%;
   padding-left: 50px;
   border-radius: 10px;
}
.soup-photo{
   width: 90%;
   padding-left: 30px;
}
.jimmy-dean{
    padding-left: 80px;
    padding-right: 30px;
}
.beef{ 
    padding-left: 50px;
    padding-right: 30px;
}
.soup{
    padding-left: 40px;
}