body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 35px;
}

.top-bottom-flexible{
    display: flex;
    margin-bottom: 150px;
}

.span-color{
    color: orange;
}
.span-color-second{
    color: lightslategray;
}

.top-box{
    width: 50%;
    padding-left: 120px;
}

.top-box-image{
 width: 50%;
}
.image-design{
    width: 50%;
    padding-left: 130px;
}

.order-anchor{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    background-image: linear-gradient(orange , tomato);
    color: white;
}

.contact-anchor{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 700;
    background-image: linear-gradient(orange , tomato);
    color: white;

}
 .middle-section{
     background-image: url(images/shapes/new.png);
     background-repeat: no-repeat;
 }


 .recipies-heading{
     text-align: center;
 }
 .bottom-box{
    display: flex;
    width: 80%;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
}
 
.bottom-box-photo{
    width: 100%;
}
 

.botoom-box-item{
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    box-shadow: 10px 10px 30px grey;
    padding: 1% ;
    border-radius: 15px;
}
.food-footer{
    background-color:black;
    color: white;
    text-align: center;

}

